<h1><%= Isitopen.site_name %></h1>

<div class="yesno-box <%= @open ? 'yes' : 'no' %>">
  <%= @open ? 'YES' : 'NO' %>
</div>

<% if @is_opening_time then %>
  <div id="buttons">
    <p>Click to let us know:</p>
    <% if @show_downvote then %>
      <%= link_to 'It is closed.', 
        {:controller => "votes", :action => "create", :open => false}, 
        {:method => 'post', :class => 'no'} %>
    <% end %>
      

    <% if @show_upvote then %>
      <%= link_to 'It is open.', 
        {:controller => "votes", :action => "create", :open => true}, 
        {:method => 'post', :class => 'yes'} %>
      <% end %>
  </div>
<% end %>

<div id="explanation">
<h2>Explanation</h2>

<p class="<%= @is_opening_time ? 'yes' : 'no' %>">
  Opening time today: 
  <%= link_to Isitopen.opening_time_source_url do %>
    <strong><%= @times_today.begin =%>:00 - <%= @times_today.end =%>:00</strong><% end %>

  According to the opening time it
  <% if @is_opening_time then %>
    should be open.
  <% else %>
    is closed.
  <% end %>
</p>

<% if @is_opening_time then %>
  <% if @last_vote_from_trusted_user %>
    <p class="<%= @last_vote_from_trusted_user.open ? 'yes' : 'no' %>">
      The most recent report from a trusted user states it is
      <%= @last_vote_from_trusted_user.open ? 'open' : 'closed' %>.
    </p>
  <% end %>

  <% if @downvotes.size > 0 %>
    <p class="no">
      We have some reports stating it is closed.
      See the log of submitted votes below.
    </p>
  <% else %>
    <p class="yes">We have no contrary reports.</p>
  <% end %>
<% end %>
</div>

<% if @votes_today then %>
  <h2>Votes</h2>
  <ul>
  <% @votes_today.each do |v| %>
    <li class="<%= (v.user && (v.user.staff || v.user.trusted)) ? 'trusted' : '' %>">
      <span class="vote <%= v.open ? 'yes' : 'no' %>"><%= v.open ? 'YES' : 'NO' %></span>
      
      <%= v.created_at.strftime('%H:%M') %>
      
      <span class="user">
        <% if v.user then %>
          <%= link_to 'about#authenticate' do %>
            authenticated per <%= v.user.provider %>
          <% end %>
        <% else %>
          anonymous
        <% end %>
      </span>

      <% if v.user and (v.user.staff or v.user.trusted) then %>
        <span class="trusted">
          <% if v.user.staff then %>
            staff member
          <% elsif v.user.trusted then %>
            trusted user
          <% end %>
        </span>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>