
<!DOCTYPE html>
<html>
<head>
  <title>Isitopen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <%= link_to "Homepage", root_path %> &nbsp;&nbsp;

  <span id="user-widget">
    <% if current_user %>
      Logged in as <strong><%= current_user.name %></strong>.
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <%= link_to 'Why should I sign in?', 'about#authenticate' %>
    <% end %>
  </span>
</div>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: 'flash '+name.to_s %>
<% end -%>

<%= yield %>

<div id="footer">
  <p><strong>Disclaimer:</strong> <%= Isitopen.disclaimer.html_safe %></p>

  <div class="links">
    <%= link_to 'Privacy policy', 'privacy' %>
    <%= link_to 'About', 'about' %>
    <%= mail_to Isitopen.contact_email, 'Maintainer' %>
    <%= link_to 'Github', Isitopen.github_url %>
  </div>
</div>

</body>
</html>
